name: Create Docker Container

on:
  push:
  workflow_dispatch:

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}
  
jobs:
  printenv:
    runs-on: ubuntu-latest
    steps:
      - run: printenv
